body {
    width: 100%;
    height: 100%;
    background-color:#FAFAD2

}

.Menu-Principal {
    width: 100%;
    background-color: #70701c;
    height: 60px;

}

main {
    margin: 0 auto;
    width: 960px;
    float: left;
    position: relative;

}

nav ul.cabecalho li {
    display: inline;
    margin: 0 0 0 15px;
}

nav ul.rodape li {
    display: inline;
    margin: 0 0 0 15px;
}